<template>
  <div>
    <form class="uk-form-stacked uk-margin-top" method="POST" action="" @submit.prevent="submitForm">
      <div class="uk-grid-small" uk-grid>
        <label class="uk-form-label uk-width-1-1">Il tuo numero di telefono</label>
        <div class="uk-form-controls uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
          <input type="tel" class="uk-input" :value="formNumber" disabled/>
        </div>
        <div class="uk-form-controls uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">
          <a class="uk-button uk-button-default pa-outline-button" @click.prevent="resendCode" :disabled="loading">Reinvia codice</a>
        </div>
        <label class="uk-form-label uk-width-1-1">Inserisci il codice ricevuto via sms</label>
        <div class="uk-form-controls uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
          <input type="text" name="authCode" autofocus class="uk-input" :class="{'uk-form-danger': errors.has('authCode')}" v-model="authCode" v-validate="'required'" />
          <div v-show="errors.has('authCode')" class="uk-text-danger uk-text-small" v-text="errors.first('authCode')"></div>
        </div>
        <div class="uk-width-1-1">
          <input type="submit" class="uk-button uk-button-primary uk-margin-top" value="VERIFICA" :disabled="loading"/>
        </div>
        <div class="uk-width-1-1">
          <span class="uk-text-danger" v-html="errorMessage"></span>
        </div>
      </div>
    </form>
    <a class="pa-backlink" href="" @click.prevent="back"><strong>< indietro</strong></a>
  </div>
</template>
<script>
export default {
  props: {
    formNumber: {
      type: String,
      required: true
    },
    errorMessage: {
      type: String,
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      authCode: ''
    }
  },
  methods: {
    submitForm () {
      this.$validator.validateAll().then((result) => {
        if (result) this.$emit('submit', this.authCode)
      })
    },
    resendCode () {
      this.$emit('resend-code')
    },
    back () {
      this.authCode = ''
      this.$emit('back')
    }
  }
}
</script>
<style lang="scss" scoped src="@/assets/sass/auth.scss"></style>
