<template>
  <div>
    <h4>Inserisci il tuo numero di telefono per ricevere subito un codice di accesso via sms.</h4>
    <form class="uk-form-stacked uk-margin-top" method="POST" action="" @submit.prevent="submitForm">
      <div class="uk-grid-small" uk-grid>
        <div class="uk-form-controls uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
          <input type="tel" name="phoneNumber" autofocus class="uk-input" :class="{ 'uk-form-danger': errors.has('phoneNumber') }" v-model="phoneNumber" v-validate="'required|numeric'"/>
          <div v-show="errors.has('phoneNumber')" class="uk-text-danger uk-text-small" v-text="errors.first('phoneNumber')"></div>
        </div>
        <div class="uk-form-controls uk-width-1-1">
          <label class="uk-text-small" :class="{ 'uk-form-danger': errors.has('accept') }"><input type="checkbox" class="uk-checkbox" name="accept" v-model="accept" v-validate="'required'"/> Ti informiamo che  il tuo numero di telefono non sarà memorizzato ma sarà trattato solo per gestire questa iniziativa</label>
        </div>
        <div class="uk-width-1-1 uk-margin-large-top">
          <input type="submit" class="uk-button uk-button-primary" value="RICHIEDI CODICE" :disabled="loading"/>
        </div>
        <div class="uk-width-1-1">
          <span class="uk-text-danger" v-html="errorMessage"></span>
        </div>
      </div>
    </form>
    <a class="pa-backlink" href="" @click.prevent="back"><strong>< indietro</strong></a>
  </div>
</template>
<script>
export default {
  props: {
    errorMessage: {
      type: String,
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      phoneNumber: null,
      accept: false
    }
  },
  methods: {
    submitForm () {
      this.$validator.validateAll().then((result) => {
        if (result) this.$emit('submit', this.phoneNumber)
      })
    },
    back () {
      this.$emit('back')
    }
  }
}
</script>
<style lang="scss" scoped src="@/assets/sass/auth.scss"></style>