<template>
  <div class="uk-container uk-section pa-auth-wrapper">
    <div class="uk-tile uk-tile-default pa-auth-tile">
      <h3>Verifica la tua identità</h3>
      <number-form
        v-show="!numberSent"
        :error-message="numberError"
        :loading="loading"
        @submit="sendSms"
        @back="$router.go(-1)"
      ></number-form>
      <code-form
        v-show="numberSent"
        :form-number="numberToAuthorize"
        :error-message="codeError"
        :loading="loading"
        @resend-code="sendSms"
        @submit="getToken"
        @back="numberSent = false"
      ></code-form>
    </div>
    <div class="uk-overlay-default uk-position-cover" v-if="loading">
      <span class="uk-position-center" uk-spinner></span>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'

import NumberForm from './auth/parts/NumberForm'
import CodeForm from './auth/parts/CodeForm'

export default {
  name: 'manage-auth',
  data () {
    return {
      acceptance: false,
      numberToAuthorize: '',
      numberSent: false,
      loading: false,
      numberError: '',
      codeError: ''
    }
  },
  mounted () {
    this.numberError = ''
    this.codeError = ''
  },
  computed: {
    ...mapState('invites', [
      'pendingInvite'
    ])
  },
  components: {
    'number-form': NumberForm,
    'code-form': CodeForm
  },
  methods: {
    ...mapActions('auth', {
      requirePassword: 'requirePassword',
      verifyPassword: 'verifyPassword',
      logout: 'logout'
    }),
    sendSms (inputNumber = null) {
      const number = inputNumber || this.numberToAuthorize
      if (number) {
        this.numberError = ''
        this.loading = true
        this.$ga.event({
          eventCategory: 'Richiedi OTP',
          eventAction: 'click',
          eventLabel: 'richiedi-otp'
        })
        this.requirePassword(number)
            .then((response) => {
              this.numberToAuthorize = number
              this.loading = false
              this.numberSent = true
            })
            .catch((error) => {
              this.numberError = (error.response) ? error.response.data.message : 'Errore del server'
              this.loading = false
              console.log(error)
            })
      }
    },
    getToken (code) {
      if (code) {
        this.codeError = ''
        this.loading = true
        this.$ga.event({
          eventCategory: 'Verifica OTP',
          eventAction: 'click',
          eventLabel: 'verifica-otp'
        })
        this.verifyPassword({
          msisdn: this.numberToAuthorize,
          otp: code
        }).then((response) => {
          this.$ga.set('userId', this.$store.getters['auth/uID'])
          if (this.pendingInvite) {
            this.$router.push({name: 'Dashboard', params: {invitePending: true}})
          } else {
            this.$router.push({name: 'Dashboard', params: {tab: 'list'}})
          }
        }).catch((error) => {
          this.loading = false
          this.codeError = (error.response) ? error.response.data.message : 'Errore del server'
          console.log(error)
        })
      }
    }
  }
}
</script>
<style lang="scss" scoped src="@/assets/sass/auth.scss"></style>
