<template>
  <div class="uk-container uk-section pa-dashboard-wrapper">
    <ul class="pa-tabs" uk-tab="animation: uk-animation-fade">
      <li>
        <a href="" @click.stop.prevent="switchTab('invite')"><img :src="iconInviteTab" /> Invita</a>
      </li>
      <li>
        <a href="" @click.stop.prevent="switchTab('list')"><img :src="iconListTab" /> I tuoi inviti</a>
      </li>
    </ul>
    <ul class="uk-switcher pa-tabs-contents">
      <li>
        <invite-tab
          ref="invite"
          :pending="invitePending"
          @pending-processed="() => {invitePending = false}"
          @loading="val => { loading = val }"
          @logout="logout"
          @switch-tab="switchTab"
          @invite-sent="() => { listAlert = 'Congratulazioni, hai invitato un amico in TIM!' }"
        ></invite-tab>
      </li>
      <li>
        <list-tab
          ref="list"
          :alert="listAlert"
          @clear-alert="() => { listAlert = '' }"
          @loading="val => { loading = val }"
          @logout="logout"
          @switch-tab="switchTab"
        ></list-tab>
      </li>
    </ul>
    <div class="uk-overlay-default uk-position-cover" v-if="loading">
      <span class="uk-position-center" uk-spinner></span>
    </div>
  </div>
</template>
<script>
import UIkit from 'uikit'
import Invite from './dashboard/Invite'
import List from './dashboard/List'

// Assets
import IconYou from '../../../assets/images/icon_you_trimmed.svg'
import IconMobile from '../../../assets/images/icon_mobile_trimmed.svg'

export default {
  name: 'manage-dashboard',
  props: {
    tab: {
      type: String,
      default: 'invite'
    },
    invitePending: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      tabs: {
        invite: {
          idx: 0,
          ga: {
            category: 'Tab Invita',
            label: 'tab-invita'
          },
          guard: () => {
            return true
          }
        },
        list: {
          idx: 1,
          ga: {
            category: 'Tab Lista inviti',
            label: 'tab-lista-inviti'
          },
          guard: this.checkAuth
        }
      },
      iconInviteTab: IconYou,
      iconListTab: IconMobile,
      loading: false,
      listAlert: ''
    }
  },
  components: {
    'invite-tab': Invite,
    'list-tab': List
  },
  mounted () {
    this.initTabs()
  },
  methods: {
    initTabs () {
      this.tabNav = UIkit.tab('.pa-tabs')
      this.switchTab(this.tab)
    },
    switchTab (tab) {
      this.listAlert = ''
      let targetTab = this.tabs[tab]
      if (targetTab.guard()) {
        this.$ga.event({
          eventCategory: targetTab.ga.category,
          eventAction: 'click',
          eventLabel: targetTab.ga.label
        })
        this.tabNav.show(targetTab.idx)
        this.$refs[tab].onShow()
      }
    },
    checkAuth () {
      if (this.$store.getters['auth/isAuthenticated']) return true
      this.$router.push({name: 'Auth'})
    },
    loadList () {
      this.$store.dispatch('invites/getInviteList')
    },
    logout () {
      this.$store.dispatch('auth/logout').then(() => {
        this.$router.push({ name: 'Auth' })
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .pa-tabs {
    img {
      height: 60px;
      margin-left: 0;
      margin-right: 20px;
    }
  }
  .pa-tabs-contents {
    background-color: #ffffff;
  }
  @media screen and (max-width: 639px) {
    .pa-tabs {
      li {
        a {
          padding: 12px 24px;
          img {
            display: block;
            margin: 0 auto 10px;
          }
        }
      }
    }
  }
</style>
