.pa-home-cta {
    background-image: url('../img/home_desktop.jpg');
}

.pa-manage-wrapper {
    background-image: url('../img/manage_background.jpg');
}

@media screen and (max-width: 639px) {
    .pa-home-cta {
        background-image: url('../img/home_mobile.jpg');
    }
}