<template>
  <div>
    <div class="uk-position-center-right uk-position-medium uk-position-fixed uk-visible@s">
      <ul class="uk-dotnav uk-dotnav-vertical" uk-scrollspy-nav="closest: li; scroll: true; offset: 50;">
        <li><a href="#pa-home-cta"></a></li>
        <li><a href="#pa-home-how_to"></a></li>
        <li><a href="#pa-home-faq"></a></li>
      </ul>
    </div>
    <div id="pa-home-cta" class="pa-home-cta uk-light">
      <div class="uk-container">
        <div class="uk-grid-collapse uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
          <div class="pa-cta-column">
            <div class="pa-cta-column__content uk-text-center">
              <h1>Invita i tuoi amici in TIM</h1>
              <p>Per te e per loro<br/><strong>GRATIS 2 Giga</strong><br/>ogni 4 settimane<br/>per un anno!</p>
              <p>Fino a 10 Giga!</p>
              <div class="uk-width-1-1 uk-margin">
                <router-link :to="{ name: 'Dashboard', params: { tab: 'invite' } }" class="uk-button uk-button-danger">Invita</router-link>
              </div>
              <div class="uk-width-1-1">
                <router-link :to="{ name: 'Dashboard', params: { tab: 'list' } }" class="uk-button uk-button-danger">I tuoi inviti</router-link>
              </div>
            </div>
          </div>
          <div class="pa-scroll-button uk-flex uk-flex-center uk-flex-bottom uk-visible@s">
            <a class="uk-button pa-outline-button uk-margin-bottom" href="#pa-home-how_to" uk-scroll="offset: 50">COME FUNZIONA</a>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
    <div id="pa-home-how_to" class="pa-home-how_to uk-text-center">
      <div class="uk-container">
        <h3>Come funziona</h3>
        <div class="uk-grid-large" uk-grid>
          <div class="uk-width-1-3@m">
            <div class="pa-how_to__item">
              <img :src="iconYou" />
              <h4>2 Giga gratis per te</h4>
              <p>Se anche tu sei un Cliente TIM* per ogni amico invitato che entra in TIM, ricevi 2 Giga ogni 4 settimane, fino a un massimo di 10 Giga</p>
            </div>
          </div>
          <div class="uk-width-1-3@m">
            <div class="pa-how_to__item">
              <img :src="iconFriend" />
              <h4>2 Giga gratis per il tuo amico</h4>
              <p>2 Giga ogni 4 settimane per il tuo amico al momento del suo passaggio a TIM, con una qualsiasi offerta TIM</p>
            </div>
          </div>
          <div class="uk-width-1-3@m">
            <div class="pa-how_to__item">
              <img :src="iconInvite" />
              <h4>Invita un amico</h4>
              <p>Più amici inviti a passare a TIM e più Giga ricevi!</p>
              <router-link :to="{ name: 'Dashboard', params: { tab: 'invite' } }" class="uk-button uk-button-danger uk-margin-top uk-margin-large-bottom">Invita</router-link>
            </div>
          </div>
          <div class="uk-width-1-1 pa-how_to__notes uk-margin-top">
            <p>Per avere diritto ai Giga dovrai invitare i tuoi amici esclusivamente tramite il sito https://portamicintim.tim.it.  Il bonus di 2 Giga gratis ogni 4 settimane ha una validità di 12 rinnovi.</p>
            <p>* Cliente TIM con una linea mobile ricaricabile attiva.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="pa-home-faq" class="pa-home-faq">
      <h4 class="uk-text-center">FAQ</h4>
      <div class="uk-container">
        <accordion
          class="uk-margin-large-bottom pa-faq-accordion"
          :sections="faqs.data"
        >
        </accordion>
      </div>
    </div>
  </div>
</template>
<script>
  import UIkit from 'uikit'
  import IconInvite from '../../assets/images/icon_invite.svg'
  import IconYou from '../../assets/images/icon_you.svg'
  import IconFriend from '../../assets/images/icon_friend.svg'
  import Faqs from '../../data/faq'
  import Accordion from '../elements/Accordion'

  export default {
    name: 'home',
    props: {
      section: {
        default: false
      }
    },
    data () {
      return {
        sections: {
          'cta': '#pa-home-cta',
          'howto': '#pa-home-how_to',
          'faq': '#pa-home-faq'
        },
        iconInvite: IconInvite,
        iconYou: IconYou,
        iconFriend: IconFriend,
        faqs: Faqs
      }
    },
    components: {
      accordion: Accordion
    },
    mounted () {
      if (this.section) this.scrollToAnchor(this.section)
    },
    methods: {
      scrollToAnchor (section) {
        let target = this.sections[section]
        if (window.$(target).length > 0) {
          this.$nextTick(() => {
            UIkit.scroll('.pa-manage-navbar', {
              offset: 50
            }).scrollTo(target)
          })
        }
      }
    }
  }
</script>
<style lang="scss">
  $light-blue: #0089c8;
  .pa-home-cta {
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      font-weight: bold;
      text-shadow: 0 0 10px fade-out(#000, 0.2);
    }
    .pa-cta-column {
      padding: 150px 20px;
      background-color: transparentize( #004990, 0.1);
      .uk-button {
        min-width: 200px;
      }
    }
    .pa-scroll-button {
      .pa-outline-button {
        border: 1px solid white;
        border-radius: 2rem;
        flex: none;
        width: auto;
      }
    }
  }

  .pa-home-how_to {
    h3, h4 {
      color: $light-blue;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h3 {
      font-size: 22px;
      margin-top: 80px;
    }
    h4 {
      font-size: 18px;
      margin-top: 0;
    }
    p {
      margin-top: 0;
    }
    .pa-how_to__item {
      padding: 0 30px;
      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }

  .pa-how_to__notes {
    font-size: 0.6rem;
    p {
      margin: 5px auto;
    }
  }

  .pa-home-faq {
    h4 {
      font-size: 18px;
      margin: 50px 0 20px;
    }
  }

  @media screen and (max-width: 639px) {
    .pa-home-cta {
      background-position: center top;
      background-color: #004990;
      .pa-cta-column {
        padding: 30px 20px;
        margin-top: 100px;
        h1 {
          font-size: 1.9em;
        }
      }
    }
  }
</style>
