<template>
  <div class="uk-section uk-section-media pa-manage-wrapper">
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: 'manage'
}
</script>
<style lang="scss" scoped>
.pa-manage-wrapper {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
