<template>
  <div class="pa-invite-tab uk-tile">
    <div v-if="isAuthenticated">
      <h3 class="uk-text-center">Ciao{{ (phoneNumber) ? ' ' + phoneNumber : '' }},<br />invita i tuoi amici passare a <strong>TIM</strong></h3>
      <p class="uk-text-small uk-text-center">Per ogni amico che passa a <strong>TIM</strong> avrai GRATIS 2 Giga ogni 4 settimane per 1 anno<br /> (fino a un max di 10 Giga).  Hai tempo sino al <strong>31 Dicembre 2017</strong> per invitare i tuoi amici.<br />Il tuo amico che passa a TIM avrà 2 Giga ogni 4 settimane per un anno.</p>
    </div>
    <div v-else>
      <h3 class="uk-text-center">Ciao,<br />partecipa con i tuoi amici alla nuova iniziativa <strong>TIM!</strong></h3>
      <p class="uk-text-small uk-text-center"><strong>Se sei  già un cliente TIM*</strong>,  per ogni amico che passa a TIM avrai GRATIS 2 GIGA ogni 4 settimane per 1 anno (fino a un max di 10 Giga).<br/><strong>Se non sei ancora un cliente TIM</strong>, per ricevere gratis i 2 GIGA puoi passare anche tu in TIM!<br/>Il tuo amico avrà 2 GIGA ogni 4 settimane per 1 anno.<br/>Hai tempo  sino al <strong>31 Dicembre 2017</strong> per invitare i tuoi amici</p>
    </div>
    <h4 class="uk-text-center">Inserisci il numero del tuo amico</h4>
    <form @submit.prevent="sendInvite" class="uk-width-1-1 uk-width-4-5@s uk-width-2-3@m uk-align-center">
      <div class="uk-container">
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-1-1 uk-width-2-3@s pa-icon-input" :style="{ backgroundImage: 'url('+iconAddInvite+')' }">
            <input name="inviteNumber" type="tel" class="uk-input" :class="{'uk-form-danger': errors.has('inviteNumber')}" v-model="inviteNumber" v-validate="'required|numeric'" />
          </div>
          <div class="uk-width-1-1 uk-width-1-3@s">
            <input type="submit" class="uk-button uk-button-primary uk-width-1-1" value="INVITA" />
          </div>
          <div v-show="errors.has('inviteNumber')" class="uk-width-1-1 uk-text-danger uk-text-small uk-text-center" v-text="errors.first('inviteNumber')"></div>
          <div class="uk-width-1-1 uk-text-danger uk-text-small uk-text-center" v-show="errorMessage != ''"><span v-html="errorMessage"></span></div>
          <div class="uk-width-1-1 uk-text-center uk-margin-top">
            <label :class="{'uk-form-danger': errors.has('privacy')}"><input name="privacy" class="uk-checkbox" type="checkbox" v-model="privacyAcceptance" v-validate="'required'"/> Dichiaro di aver preso visione dell'<a href="" @click.prevent="() => { privacyModal.show() }">informativa privacy</a></label>
          </div>
        </div>
      </div>
    </form>
    <p class="uk-text-center"><strong>Il tuo amico riceverà da parte tua il seguente SMS: <a href="" @click.prevent="() => { previewModal.show() }">mostra</a></strong></p>
    <p class="uk-text-small uk-text-center" v-if="!isAuthenticated">* Cliente TIM con una linea mobile ricaricabile attiva</p>
    <div class="uk-modal pa-privacy-modal">
      <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close uk-align-right" type="button" uk-close></button>
        <h2 class="uk-modal-title">Privacy Policy</h2>
        <div v-html="privacyText"></div>
      </div>
    </div>
    <div class="uk-modal pa-preview-modal">
      <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close uk-align-right" type="button" uk-close></button>
        <p>questo l’SMS automatico  che il tuo amico riceve dopo l’invito</p>
        <div class="pa-preview-content">
          «Ciao! Passa a TIM attivando una delle offerte TIM disponibili. Per me e per te subito un bonus di    2 Giga gratis ogni 4 settimane per 1 anno. Vai entro 15 giorni in un negozio TIM o <a href="https://www.tim.it/" target="_blank">clicca qui</a>»
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UIkit from 'uikit'
import IconYou from '../../../../assets/images/icon_you_trimmed.svg'
import Privacy from '../../../../data/privacy'
import Messages from '../../../../data/messages'
import { mapGetters } from 'vuex'

export default {
  name: 'manage-dashboard-invite',
  props: {
    pending: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      iconAddInvite: IconYou,
      privacyText: Privacy.text,
      errorMessage: '',
      privacyModal: null,
      previewModal: null
    }
  },
  computed: {
    inviteNumber: {
      get () {
        return this.$store.state.invites.pendingInvite
      },
      set (value) {
        this.errorMessage = ''
        this.$store.commit('invites/setPendingInvite', value)
      }
    },
    privacyAcceptance: {
      get () {
        return this.$store.state.auth.privacy
      },
      set (value) {
        this.$store.commit('auth/setPrivacy', value)
      }
    },
    ...mapGetters('auth', [
      'phoneNumber',
      'isAuthenticated'
    ])
  },
  mounted () {
    if (this.pending && this.isAuthenticated) {
      this.sendInvite()
    } else {
      this.$store.commit('invites/setPendingInvite', '')
    }
    this.privacyModal = UIkit.modal('.pa-privacy-modal')
    this.previewModal = UIkit.modal('.pa-preview-modal')
  },
  methods: {
    onShow () {
    },
    sendInvite () {
      this.errorMessage = ''
      this.$emit('loading', true)
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (!this.isAuthenticated) {
            this.$router.push({name: 'Auth'})
          } else {
            this.$emit('pendingProcessed')
            this.$ga.event({
              eventCategory: 'Invita Amico',
              eventAction: 'click',
              eventLabel: 'invita-amico'
            })
            this.$store.dispatch('invites/invite', {
              msisdn: this.inviteNumber,
              flagPrivacy: this.privacyAcceptance
            }).then(() => {
              this.$emit('loading', false)
              this.$emit('switch-tab', 'list')
              this.$emit('invite-sent')
            }).catch(error => {
              if (error.response.status === 401) this.$emit('logout')
              this.errorMessage = Messages.get('invite', error.response.data)
              this.$emit('loading', false)
            })
          }
        } else {
          this.$emit('loading', false)
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  h3, h4 {
    color: inherit;
  }
  .uk-text-small {
    font-size: 0.8rem;
  }
  .uk-checkbox {
    margin-right: 10px;
  }
  .pa-icon-input {
    padding-left: 50px;
    background-size: 34px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
  }
  .pa-preview-content {
    font-weight: bolder;
  }
  @media screen and (max-width: 639px) {
    .pa-icon-input {
      background-position: 14px 4px;
    }
  }
</style>
