<template>
<div>
  <div class="pa-list-tab">
    <div class="uk-alert pa-alert-dark" v-if="alert">
      <p v-html="alert"></p>
      <a class="uk-alert-close" @click="closeAlert" uk-close></a>
    </div>
    <h3>Controlla lo stato dei tuoi inviti</h3>
    <div class="uk-overflow-auto">
      <table class="uk-table uk-table-divider uk-table-small uk-table-middle uk-table-responsive">
        <thead>
          <tr>
            <th>Numero</th>
            <th>Stato</th>
            <th></th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody v-if="invites.length > 0">
          <tr v-for="invite in orderedInvites" :key="invite.msisdnInvited">
            <td class="pa-list-number" v-text="invite.msisdnInvited"></td>
            <td v-text="states[invite.senderBonusStatus]"></td>
            <td v-if="invite.senderBonusStatus === 'ACTIVATED'"><img class="pa-icon-state uk-align-center" :src="assets.iconOk"/></td>
            <td v-else-if="invite.senderBonusStatus === 'NOT_ACTIVABLE'"><img class="pa-icon-state uk-align-center" :src="assets.iconKo"/></td>
            <td v-else-if="invite.senderBonusStatus === 'NOT_ACTIVATED' && invite.inviteAgain" class="uk-text-left uk-text-center@m">
              <a href="" class="uk-button uk-button-primary uk-button-small uk-loading" @click.prevent="resendInvite(invite.msisdnInvited)">Invia di nuovo</a>
            </td>
            <td v-else></td>
            <td v-text="invite.lastDateSmsInvitation"></td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td colspan="4">Nessun invito ancora inviato.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
import _ from 'lodash'

import IconOk from '../../../../assets/images/icon_ok.svg'
import IconKo from '../../../../assets/images/icon_ko.svg'

export default {
  name: 'manage-dashboard-list',
  props: {
    alert: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      assets: {
        iconOk: IconOk,
        iconKo: IconKo
      },
      states: {
        NOT_ACTIVATED: 'SMS Inviato',
        NOT_ACTIVABLE: 'Non eleggibile',
        ACTIVATED: 'Hai guadagnato 2 Giga',
        TO_BE_ACTIVATE: 'In attivazione'
      }
    }
  },
  computed: {
    orderedInvites () {
      return _.orderBy(this.invites, [invite => {
        return _.join(
          _.reverse(
            _.split(invite.lastDateSmsInvitation, '/', 3)
          )
        , '')
      }], ['desc'])
    },
    ...mapState('invites', {
      invites: state => state.list,
      bonuses: state => state.bonuses
    }),
    ...mapGetters('invites', {
      earnedGb: 'earnedGb'
    })
  },
  methods: {
    onShow () {
      this.updateList()
    },
    resendInvite (number) {
      this.$emit('loading', true)
      this.$ga.event({
        eventCategory: 'Reinvita Amico',
        eventAction: 'click',
        eventLabel: 'reinvita-amico'
      })
      this.$store.dispatch('invites/invite', {
        msisdn: number,
        flagPrivacy: true
      }).then(() => {
        this.$emit('loading', false)
      }).catch(error => {
        if (error.response.status === 401) this.$emit('logout')
        this.$emit('loading', false)
      })
    },
    updateList () {
      this.$emit('loading', true)
      this.$store.dispatch('invites/getInviteList').then(response => {
        this.$emit('loading', false)
      }).catch(error => {
        if (error.response.status === 401) this.$emit('logout')
        this.$emit('loading', false)
      })
    },
    closeAlert () {
      this.$emit('clear-alert')
    }
  }
}
</script>
<style lang="scss" scoped>
  th {
    color: #197bb6;
  }
  .uk-tile-primary {
    background-color: #0078c1;
  }
  .pa-list-tab {
    padding: 30px 50px;
  }
  .pa-icon-state {
    max-width: 16%;
  }
  .uk-button {
    word-wrap: none;
    white-space: nowrap;
  }

  .pa-alert-dark {
    background-color: #004990;
    color: #ffffff;
    p {
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 959px) {
    .pa-list-tab {
      .pa-list-number {
        color: #197bb6;
        font-size: 1.4em;
        letter-spacing: 0.05em;
      }
    }
  }
  @media screen and (max-width: 639px) {
    .pa-list-tab {
      padding: 30px 20px;
    }
  }
</style>
