<template>
  <div>
    <ul class="pa-accordion">
      <li v-for="(section, index) in sections" :key="section.title" :class="{'uk-open': index === selectedIndex}" @click="selectedIndex = index">
        <i class="pa-accordion-toggle uk-icon-button uk-light" v-show="index === selectedIndex" uk-icon="icon: chevron-up"></i>
        <i class="pa-accordion-toggle uk-icon-button uk-light" v-show="index !== selectedIndex" uk-icon="icon: chevron-down"></i>
        <h5 class="pa-accordion-title" v-html="section.title"></h5>
        <div class="pa-accordion-content" v-html="section.text">
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'accordion',
  props: {
    sections: {
      type: Array
    }
  },
  data () {
    return {
      selectedIndex: 0
    }
  }
}
</script>
<style lang="scss" scoped>
  $border-color: #d8d8d8;
  $open-background: #ffffff;
  $close-background: #f0f0f0;
  .pa-accordion {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      margin: 0;
      padding: 24px 20px;
      border: 1px solid $border-color;
      border-top: 0;
      background-color: $close-background;
      transition: all 0.5s ease;
      cursor: pointer;
      .pa-accordion-title {
        font-size: 1rem;
        margin: 0;
        font-family: inherit;
      }
      .pa-accordion-toggle {
        float: right;
        background-color: #878787;
        width: 20px;
        height: 20px;
        color: #ffffff;
        stroke: #ffffff;
        padding: 2px;
        &:hover {
          color: #ffffff;
          stroke: #ffffff;
        }
      }
      .pa-accordion-content {
        overflow: hidden;
        margin: 0;
        height: 0;
        opacity: 0;
        transition: all 0.5s ease;
      }
      &.uk-open {
        background-color: $open-background;
        cursor: default;
        .pa-accordion-content {
          margin: 20px 0;
          height: auto;
          opacity: 1;
        }
      }
      &:first-child {
        border-top: 1px solid $border-color;
      }
    }
  }
</style>
