<template>
  <div class="uk-navbar-dropdown uk-background-muted pa-share-dropdown" uk-dropdown="mode: click; pos: bottom-right; animation: uk-animation-slide-top-small, uk-animation-slide-top-small; duration: 200">
    <ul class="uk-nav">
      <li><a :href="whatsappShareLink()" target="_blank" class="uk-icon-button pa-share pa-share-whatsapp" uk-icon="icon: whatsapp" @click.prevent="shareClick('Whatsapp', whatsappShareLink)"></a></li>
      <li><a :href="facebookShareLink()" target="_blank" class="uk-icon-button pa-share pa-share-facebook" uk-icon="icon: facebook" @click.prevent="shareClick('Facebook', facebookShareLink)"></a></li>
      <li><a :href="twitterShareLink()" target="_blank" class="uk-icon-button pa-share pa-share-twitter" uk-icon="icon: twitter" @click.prevent="shareClick('Twitter', twitterShareLink)"></a></li>
      <li><a :href="googlePlusShareLink()" target="_blank" class="uk-icon-button pa-share pa-share-google-plus" uk-icon="icon: google-plus" @click.prevent="shareClick('Google Plus', googlePlusShareLink)"></a></li>
    </ul>
  </div>
</template>
<script>
import UIkit from 'uikit'
import { URL } from '@/config'

export default {
  data () {
    return {
      url: URL || window.location.hostname
    }
  },
  methods: {
    whatsappShareLink () {
      return 'whatsapp://send?text=' + this.url
    },
    facebookShareLink () {
      return 'https://www.facebook.com/sharer/sharer.php?u=' + this.url
    },
    twitterShareLink () {
      return 'https://twitter.com/intent/tweet?url=' + this.url + '&text=Title&original_referer=' + this.url
    },
    googlePlusShareLink () {
      return 'https://plus.google.com/share?url=' + this.url
    },
    shareClick (social, link) {
      this.$ga.social({
        socialNetwork: social,
        socialAction: 'Share',
        socialTarget: this.url
      })
      UIkit.dropdown('.pa-share-dropdown').hide()
      window.open(link(), '_blank')
    }
  }
}
</script>
<style lang="scss">
  $whatsapp: #25D366;
  $facebook: #3b5999;
  $twitter: #55acee;
  $google-plus: #dd4b39;

  @mixin shareButton($color) {
    background-color: $color;
    &:visited {
      background-color: $color;
    }
    &:hover, &:focus {
      background-color: lighten($color, 5%);
    }
    &:active {
      background-color: darken($color, 10%);
    }
  }

  .uk-navbar-dropdown {
    width: auto;
    min-width: auto;
    padding: 0px;
    .uk-nav {
      li {
        padding: 10px;
        border-bottom: 1px solid #e7ecee;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .pa-share {
    text-align: center;
    svg {
      width: 20px;
      height: 26px;
    }
    &.pa-share-whatsapp { @include shareButton($whatsapp) }
    &.pa-share-facebook { @include shareButton($facebook) }
    &.pa-share-twitter { @include shareButton($twitter) }
    &.pa-share-google-plus { @include shareButton($google-plus) }
  }
</style>
