<template>
  <div id="app">
    <header class="uk-background-primary uk-light" uk-sticky>
      <div class="uk-container">
        <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-left">
            <router-link :to="{ name: 'Home' }" class="uk-navbar-item uk-logo">
              <img src="./assets/images/logo_tim_white.svg" />
            </router-link>
          </div>
          <div class="uk-navbar-right">
            <ul v-show="activeRoute === 'Home'" class="uk-navbar-nav uk-visible@s" uk-scrollspy-nav="closest: li; scroll: true; offset: 50;">
              <li><a href="#pa-home-cta">Home</a></li>
              <li><a href="#pa-home-how_to">Come Funziona</a></li>
              <li><a href="#pa-home-faq">FAQ</a></li>
              <li>
                <a href="#">
                  <img src="./assets/images/icon_share.svg" />
                </a>
                <dropdown-share></dropdown-share>
              </li>
            </ul>
            <ul v-show="activeRoute !== 'Home'" class="uk-navbar-nav pa-manage-navbar uk-visible@s">
              <li><router-link :to="{ name: 'Home', params: { section: 'cta' } }">Home</router-link></li>
              <li><router-link :to="{ name: 'Home', params: { section: 'howto' } }">Come Funziona</router-link></li>
              <li><router-link :to="{ name: 'Home', params: { section: 'faq' } }">FAQ</router-link></li>
              <li>
                <a href="#">
                  <img src="./assets/images/icon_share.svg" />
                </a>
                <dropdown-share></dropdown-share>
              </li>
            </ul>
            <ul class="uk-navbar-nav uk-hidden@s">
              <li>
                <a href="#">
                  <img src="./assets/images/icon_share.svg" />
                </a>
                <dropdown-share></dropdown-share>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <router-view></router-view>
    <footer class="uk-background-primary uk-light">
      <div class="uk-container">
        <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-left">
            <a class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon href="" uk-toggle="target: #pa-footer-nav-modal"></a>
            <div id="pa-footer-nav-modal" uk-modal>
              <div class="uk-modal-dialog uk-modal-body uk-background-primary uk-light">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <ul class="uk-nav">
                  <li class="uk-active"><a href="https://www.tim.it/assistenza/i-consumatori/info-consumatori-mobile/web-privacy-policy">Privacy</a></li>
                  <li><a href="https://www.tim.it/note-legali">Note legali</a></li>
                  <li><a href="https://www.tim.it/website-info">Website Info</a></li>
                  <li><a href="https://www.tim.it/assistenza/i-consumatori/info-consumatori-fisso/contatti">Contatti</a></li>
                  <li><a href="https://www.tim.it/assistenza/supporto-tecnico-e-configurazione/sicurezza-pc/navigare-sicuri/tutela-dei-minori">Tutela minori</a></li>
                  <li><a href="http://www.telecomitalia.com/tit/it/career.html?utm_source=TIM&utm_medium=footer&utm_term=Lavora%20con%20noi&utm_campaign=CL2014">Lavora con noi</a></li>
                </ul>
              </div>
            </div>
            <ul class="uk-navbar-nav uk-visible@s">
              <li class="uk-active"><a href="https://www.tim.it/assistenza/i-consumatori/info-consumatori-mobile/web-privacy-policy">Privacy</a></li>
                  <li><a href="https://www.tim.it/note-legali">Note legali</a></li>
                  <li><a href="https://www.tim.it/website-info">Website Info</a></li>
                  <li><a href="https://www.tim.it/assistenza/i-consumatori/info-consumatori-fisso/contatti">Contatti</a></li>
                  <li><a href="https://www.tim.it/assistenza/supporto-tecnico-e-configurazione/sicurezza-pc/navigare-sicuri/tutela-dei-minori">Tutela minori</a></li>
                  <li><a href="http://www.telecomitalia.com/tit/it/career.html?utm_source=TIM&utm_medium=footer&utm_term=Lavora%20con%20noi&utm_campaign=CL2014">Lavora con noi</a></li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <span class="uk-navbar-item">Telecom Italia 2012 - P.IVA 00488410010</span>
          </div>
        </nav>
      </div>
    </footer>
  </div>
</template>

<script>
import DropdownShare from './components/elements/DropdownShare'

export default {
  name: 'app',
  components: {
    'dropdown-share': DropdownShare
  },
  computed: {
    activeRoute: function () {
      return this.$route.name
    }
  },
  created () {
    this.$store.dispatch('auth/init').then(() => {
      this.$ga.set('userId', this.$store.getters['auth/uID'])
    })
  }
}
</script>

<style src="./assets/sass/style.scss" lang="scss">
</style>
