h3, h4 {
    margin: 4px 0;
}
h4 {
    font-size: 20px;
    color: inherit;
}
label.uk-form-label {
    font-size: 18px;
}
label.uk-text-small {
    font-size: 12px;
}
.uk-checkbox {
    margin-right: 10px;
}
.uk-button {
    min-width: 200px;
}
.uk-text-danger.uk-text-small {
    font-size: 12px;
}
.pa-auth-tile {
    padding: 70px 80px;
}
.pa-backlink {
    color: inherit;
    text-decoration: underline;
    display: block;
    margin-top: 80px;
    &:hover {
        text-decoration: none;
    }
}

.uk-button-default.pa-outline-button {
    border: 2px solid #0068a8;
    &:hover {
        border-color: darken(#0068a8, 10%);
        background-color: #efefef;
    }
}

@media screen and (max-width: 639px) {
    .pa-auth-tile {
        padding: 30px 20px;
    }
    .uk-button.uk-button-default.pa-outline-button {
        margin: 10px 0;
    }
}