@import './font-timsans';

$global-font-family: 'TIMSans', Arial, sans-serif;
$global-color: #4e4e4e;
$global-primary-background: $tim-blue;
$global-danger-background: $tim-red;
$navbar-background: transparent;
$navbar-nav-item-height: 50px;
$inverse-global-color: #FFF;
$inverse-navbar-item-color: #FFF;
$inverse-navbar-nav-item-color: #FFF;
$base-heading-color: $tim-blue;
$base-em-color: $tim-blue;


// Buttons
$button-primary-background: $tim-lighter-blue;
$button-small-line-height: 32px;
$button-small-padding-horizontal: 18px;
$button-default-color: $tim-lighter-blue;
$button-default-hover-color: darken($tim-lighter-blue, 5%);

// Dotnav
$dotnav-color: $tim-blue;
$dotnav-background: #ffffff;
$dotnav-item-width: 14px;
$dotnav-item-background: fade-out($dotnav-background, 0.4);
$dotnav-item-hover-background: fade-out($dotnav-background, 0.4);
$dotnav-item-onclick-background: fade-out($dotnav-background, 0.4);
$dotnav-item-active-background: fade-out($dotnav-background, 0.4);

// Tabs
$tab-item-color: fade-out($tim-blue, 0.5);
$tab-item-hover-color: $tim-blue;
$tab-item-active-color: $tim-blue;
$tab-item-padding-horizontal: 30px;
$tab-item-padding-vertical: 12px;

// Form
$form-radio-checked-background: $tim-lighter-blue;
$form-radio-checked-focus-background: darken($form-radio-checked-background, 10%);