// Button mixins
@mixin hook-button() {
    text-transform: uppercase;
    border-radius: $default-border-radius;
    -webkit-appearance: none;
}

@mixin hook-button-default() {
    border: 2px solid $tim-lighter-blue;
}

@mixin hook-button-default-hover() {
    border: 2px solid darken($tim-lighter-blue, 5%);
}

@mixin hook-form-single-line() {
    border-radius: $default-border-radius;
}


// Dotnav mixins
$dotnav-color: $tim-blue;
$border-width: 2px;
$dot-inset: 2px;

@mixin pa-dotnav-transition() {
    transition: all 0.5s ease-in-out;
}

@mixin hook-dotnav-item() {
    border: $border-width solid fade-out($dotnav-color, 1);
    margin: 0 auto;
    @include pa-dotnav-transition;
    &:before {
        content: " ";
        background-color: fade-out($dotnav-color, 0.6);
        display: block;
        width: $dotnav-item-width - ($dot-inset*2 + $border-width*2);
        height: $dotnav-item-height - ($dot-inset*2 + $border-width*2);
        margin: $dot-inset;
        border-radius: 50%;
        @include pa-dotnav-transition;
    }
}

@mixin hook-dotnav-item-hover() {
    &:before {
        background-color: fade-out($dotnav-color, 0.2);
    }
}

@mixin hook-dotnav-item-onclick() {
    &:before {
        background-color: fade-out($dotnav-color, 0);
    }
}

@mixin hook-dotnav-item-active() {
    border: $border-width solid fade-out($dotnav-color, 0.1);
    &:before {
        background-color: fade-out($dotnav-color, 0.1);
    }
}

@mixin hook-tab() {
    margin-bottom: 0;
    &:before {
        content: none;
        border: none;
    }
}

@mixin hook-tab-item() {
    background-color: #e4e4e4;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.9rem;
    img {
        transition: all 0.5s ease;
        opacity: 0.5;
    }
}

@mixin hook-tab-item-hover() {
    img {
        opacity: 1;
    }
}

@mixin hook-tab-item-active() {
    background-color: #ffffff;
    img {
        opacity: 1;
    }
}