@font-face {
    font-family: "TIMSans";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/TIMSans-Regular.eot');
    src: url('../fonts/TIMSans-Regular.eot') format('embedded-opentype'), url('../fonts/TIMSans-Regular.woff') format('woff2'), url('../fonts/TIMSans-Regular.woff2') format('woff'), url('../fonts/TIMSans-Regular.ttf') format('truetype'), url('../fonts/TIMSans-Regular.svg') format('svg');
  }
  @font-face {
    font-family: "TIMSans";
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/TIMSans-Bold.eot');
    src: url('../fonts/TIMSans-Bold.eot') format('embedded-opentype'), url('../fonts/TIMSans-Bold.woff') format('woff2'), url('../fonts/TIMSans-Bold.woff2') format('woff'), url('../fonts/TIMSans-Bold.ttf') format('truetype'), url('../fonts/TIMSans-Bold.svg') format('svg');
  }
  @font-face {
    font-family: "TIMSans";
    font-style: normal;
    font-weight: lighter;
    src: url('../fonts/TIMSans-Light.eot');
    src: url('../fonts/TIMSans-Light.eot') format('embedded-opentype'), url('../fonts/TIMSans-Light.woff') format('woff2'), url('../fonts/TIMSans-Light.woff2') format('woff'), url('../fonts/TIMSans-Light.ttf') format('truetype'), url('../fonts/TIMSans-Light.svg') format('svg');
  }