// Global variables
$tim-blue: #004990;
$tim-lighter-blue: #0078c1;
$tim-red: #eb0028;

$default-border-radius: 5px;

@import "./custom-variables";

// Import default variables and mixins
@import "../../../node_modules/uikit/src/scss/variables-theme";
@import "../../../node_modules/uikit/src/scss/mixins-theme";

// Custom mixin overwrite
@import "./custom-mixins";

// Import UIkit
@import "../../../node_modules/uikit/src/scss/uikit-theme";

footer {
    padding: 16px 0 20px;
    .uk-navbar-nav li a, span.uk-navbar-item {
        font-size: 0.8rem;
        font-weight: 100;
        text-transform: none;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.05em;
    }
    .uk-navbar-nav li a {
        text-align: left;
    }
}